<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Songs"></activity>
        <activity android:name=".Shops" />
        <activity android:name=".Movies" />
        <activity android:name=".Kids" />
        <activity android:name=".Jobs" />
        <activity android:name=".HealthCare" />
        <activity android:name=".Games" />
        <activity android:name=".Fitness" />
        <activity android:name=".Food" />
        <activity android:name=".Anime" />
        <activity android:name=".Coding" />
        <activity android:name=".Web7" />
        <activity android:name=".Web6" />
        <activity android:name=".Web5" />
        <activity android:name=".Web4" />
        <activity android:name=".Web3" />
        <activity android:name=".Web2" />
        <activity android:name=".Web1" />
        <activity android:name=".Web" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>